@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  /* Light gray #f3f4f6 */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f3f4f6;
  font-family: 'Inter', sans-serif;
  /* Assuming Inter or system font */
}